.ant-steps {
  .ant-steps-item {
    padding-left: 30px !important;
  }
  .ant-steps-item-icon {
    background-color: $color_background_6;
    padding-top: 3px;
    border: none;
  }
  .ant-steps-icon {
    color: $color_white_1 !important;
    font-weight: 600;
  }
  .ant-steps-item-description {
    color: $color_white_1 !important;
    margin-top: 60px;
    margin-left: -47px;
  }
  .ant-steps-item-title {
    &::after {
      background-color: $color_background_6 !important;
      height: 8px;
    }
  }
}
