.account-guest {
  .my-pagination {
    margin-top: 24px;
  }
}

.account-guest-form {
  &__input-search {
    .ant-input-prefix {
      margin-top: -10px;
    }
  }
  &__reset {
    margin-top: 6px;
    cursor: pointer;
    filter: brightness(0.7);
    transition: 0.3s;
    &:hover {
      filter: brightness(0.4);
    }
  }
}
