.app-multi-carousel {
  display: flex;
  &__navigate-btn {
    padding: 0 8px;
    button {
      cursor: pointer;
      width: 48px;
      height: 48px;
      border-radius: 100%;
      border: 1px solid #4d2c4b;
    }
  }
  &__item-group {
    flex: 1;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 26px;
    overflow-x: hidden;
    &__item {
      display: inline-block;
      padding: 8px;
      div {
        position: relative;
        padding-top: 100%;
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          background-color: #d1d1d1;
        }
      }
    }
    &__item-list {
      transition: 0.2s;
      white-space: nowrap;
      .isSelecting {
        padding: 7px !important;
        border: 1px solid #4d2c4b;
      }
    }
  }
}
