.web-info {
  &__form {
    .ant-row {
      margin: 25px 0;
      .ant-col {
        display: flex;
        align-items: center;
        label {
          font-size: 14px;
          font-weight: 600;
        }
        input {
          font-size: 14px;
        }
      }
    }
  }
  &__button {
    padding: 0 20px;
  }
}
