.homepage {
  &__thumbnail {
    margin-bottom: 6rem;
    .main-img {
      height: fit-content;
      object-fit: contain;
      width: 100%;
    }
  }
}

.flower-collection {
  padding: 0 20px;
  max-width: 1720px;
  margin: 68px auto !important;
  &__first-item {
    position: relative;
    padding-top: 56%;
    &__content {
      display: flex;
      flex-direction: column;

      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      &__collection-group {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        height: 58px;
        margin-bottom: 16px;
        background-color: #fbf6fd;
        font-weight: 600;
        font-size: 28px;
        line-height: 50px;
        color: #25424c;
        z-index: 10;
      }
      &__image-group {
        position: relative;
        padding-top: 74px;
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        &__button-buy-now {
          cursor: pointer;
          font-weight: 600;
          font-size: 1em;
          color: #4d2c4b;
          text-align: center;
          width: 26%;
          padding: 2% 0;
          border: 1px solid #4d2c4b;
          border-radius: 30px;
          position: absolute;
          top: 67%;
          left: 5%;
          background-color: #fbf6fd;
          transition: 0.3s;
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
  &__common-item {
    position: relative;
    &__image-group {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
    &__button-buy-now {
      cursor: pointer;
      font-weight: 600;
      font-size: 1em;
      color: #4d2c4b;
      text-align: center;
      width: 26%;
      padding: 2% 0;
      border: 1px solid #4d2c4b;
      border-radius: 30px;
      position: absolute;
      background-color: #fbf6fd;
      transition: 0.3s;
      &:hover {
        opacity: 0.8;
      }
    }
  }
  .btn-buynow-type {
    &-2 {
      top: 67%;
      right: 17%;
    }
    &-3 {
      top: 60%;
      right: 10%;
    }
    &-4 {
      top: 60%;
      left: 7%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .flower-collection {
    &__common-item {
      &__button-buy-now {
        display: none;
      }
    }
    &__first-item {
      &__content {
        &__image-group {
          &__button-buy-now {
            display: none;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: $breakpoint_desktop_max) {
  .homepage {
    &__thumbnail {
      margin-bottom: 3rem;
    }
  }
}

@media only screen and (max-width: $breakpoint_desktop_max) {
  .flower-collection__common-item__button-buy-now {
    &.btn-buynow-type-2 {
      right: 18%;
    }
    &.btn-buynow-type-4 {
      left: 7%;
    }
  }
  .flower-collection__first-item__content__image-group__button-buy-now {
    left: 9%;
  }
}
