.product-list {
  color: #25424c;
  margin-bottom: 41px;
  &__list-container {
    display: flex;
  }
  &__search-group {
    flex: 0 0 282px;
    padding: 0px 16px;
    margin-bottom: 40px;
    &__content {
      position: sticky;
      top: 100px;
    }
  }
  &__list {
    flex: 1;
    &__item {
      margin: {
        right: 16px;
        left: 16px;
        bottom: 16px;
      }
      &__info {
        min-height: 122px;
        padding: 16px;
        &__name {
          margin: auto;
          width: fit-content;
          font-size: 16px;
          line-height: 26px;
          margin-bottom: 8px;
        }
        &__price {
          color: #4d2c4b;
          margin: auto;
          font-weight: 500;
          width: fit-content;
          font-size: 16px;
          line-height: 26px;
        }
      }
      &__thumbnail {
        position: relative;
        padding-top: 98%;
        &__main-img,
        .ant-image {
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
        }
      }
    }
  }
  &__result-number {
    font-size: 16px;
    line-height: 26px;
    padding: 60px 16px;
  }
  &__page-title {
    width: fit-content;
    margin: auto;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
  }
  &__breadcrum {
    margin: {
      top: 58px;
      bottom: 58px;
    }
  }
  .tag-list {
    &__item {
      font-weight: 600;
    }
    padding: {
      bottom: 28px;
      top: 28px;
    }
  }
  &__pagination {
    display: flex;
    justify-content: center;
    width: 100%;
    .ant-pagination-item {
      border: none !important;
    }
    .ant-pagination-prev,
    .ant-pagination-next {
      .ant-pagination-item-link {
        border: none !important;
      }
    }
    .ant-pagination-item-active {
      a {
        border-radius: 100%;
        background-color: #fbf6fd;
        color: #4d2c4b !important;
      }
    }
  }
  &__no-data {
    position: relative;
    width: 100%;
    padding-top: 40%;
    margin-bottom: 40px;
    &__main-img {
      padding: {
        left: 16px;
        right: 16px;
      }
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 786px) {
  .product-list {
    &__list-container {
      display: block;
    }
    &__search-group {
      width: auto;
    }
    &__list {
      width: auto;
    }
  }
}
