.product-detail {
  color: #25424c;
  padding-top: 60px;
  .tag-list {
    &__item {
      font-weight: 600;
    }
    padding: {
      bottom: 28px;
      top: 28px;
    }
  }
  &__page-title {
    width: fit-content;
    margin: auto;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    margin: 60px auto;
  }
  &__page-info {
    max-width: 1400px;
    margin: 0 auto !important;
    .bg-wrap {
      background-color: #f8f8f8;
    }
    &__main-img {
      position: relative;
      padding-top: 150%;
      margin-bottom: 46px;

      &__container {
        margin: 0 auto;
        max-width: 370px;
      }
      &__image,
      .ant-image {
        object-fit: cover;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #25424c;
        .ant-image-img {
          object-fit: cover;
          background-color: #d1d1d1;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  &__topic-list {
    margin: 36px 0;
    &__item {
      font-weight: 600;
      border-radius: 20px;
      padding: 8px 12px !important;
      background-color: #fbf6fd;
      color: #25424c;
    }
  }
  &__desc-group {
    &__title {
      padding: 16px 0;
      border-bottom: 5px solid #937491;
      p {
        font-size: 20px;
        font-weight: 600;
        color: #25424c;
        width: fit-content;
        margin: 0 auto;
      }
    }
    &__content {
      min-height: 300px;
      padding: 26px 0px;
    }
  }
  &__product-name {
    font-size: 28px;
    line-height: 50px;
    color: #25424c;
  }
  &__product-price {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #4d2c4b;
  }
  &__product-size {
    font-size: 20px;
    line-height: 28px;
    color: #25424c;
    &__size {
      margin: 16px 0;
    }
    &__size {
      text-align: center;
      padding: 8px 16px;
      background: #fbf6fd;
      width: fit-content;
      min-width: 100px;
      border: 1px solid #937491;
    }
  }
  &__send-inquiry-btn {
    border: none;
    cursor: pointer;
    width: 100%;
    color: white;
    padding: 16px 0;
    background-color: #4d2c4b;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }
  &__more-item {
    margin: 24px 0 150px;
    &__item-name {
      margin-top: 26px;
      text-align: center;
      font-weight: 600;
      font-size: 16px;
      line-height: 26px;
      color: #25424c;
    }
    &__item-price {
      text-align: center;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: #8e9a9b;
    }
    &__item {
      position: relative;
      padding-top: 150%;
      &__blank-img,
      .ant-image {
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100% !important;
        img {
          width: 100%;
          height: 100% !important;
          object-fit: contain;
        }
      }
    }
    &__title {
      text-align: center;
      font-weight: 600;
      font-size: 28px;
      line-height: 50px;
      color: #25424c;
    }
  }
  &__send-inquiry-modal {
    .ant-form-item-label {
      .ant-form-item-required {
        &::before {
          margin-left: 4px;
          color: black !important;
        }
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        flex-direction: row-reverse;
      }
    }
    .ant-modal-content {
      border-radius: 8px;
      overflow: hidden;
    }
    .ant-modal-body {
      padding: 32px !important;
    }
    &__submit-btn {
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: white;
      background-color: #4d2c4b;
      cursor: pointer;
      padding: 12px 0;
      width: 100%;
      border-radius: 22px;
      border: none;
      margin-top: 16px;
    }
    &__title {
      font-weight: 600;
      font-size: 16px;
      line-height: 26px;
      color: #060a13;
      margin-bottom: 16px;
    }
    &__desc {
      font-size: 14px;
      line-height: 18px;
      color: #27292b;
    }
  }
}
