.recommend-product {
  &__group {
    padding: 0 20px;
    max-width: 1720px;
    margin: 68px auto !important;
    &__see-more-btn {
      width: fit-content;
      margin: 48px auto 0;
      border: none;
      cursor: pointer;
      color: white;
      padding: 16px 24px;
      background-color: #4d2c4b;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      border-radius: 22px;
    }
    &__see-all-topic-btn {
      text-decoration: underline;
      text-align: center;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;

      margin: 16px 0;
      a {
        color: #4d2c4b;
      }
      cursor: pointer;
      svg {
        position: relative;
        top: 2px;
        margin-left: 8px;
        path {
          fill: #4d2c4b;
        }
      }
    }
  }
  &__title {
    margin: 68px;
    font-weight: 600;
    font-size: 28px;
    line-height: 50px;
    color: #25424c;
  }
  &__list {
    &__item {
      padding: 8px;
      &__thumbnail-img {
        position: relative;
        padding-top: 150%;
        .ant-image {
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #f8f8f8;
        }
        .image {
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #f8f8f8;
        }
      }
      &__name {
        max-width: 285px;
        margin: 26px auto 0;
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
        color: #25424c;

        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis !important;
      }
      &__price {
        max-width: 285px;
        margin: 0 auto;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #4d2c4b;
      }
    }
  }
}
