.ant-tabs-tab {
  color: $color_white_1;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;

  &:hover {
    color: $color_button_yellow_1;
    opacity: 0.8;
  }
  &.ant-tabs-tab-active {
    .ant-tabs-tab-btn {
      color: $color_button_yellow_1;
    }
  }
}

.ant-tabs-nav {
  &::before {
    border-bottom: 5px solid $color_border_1 !important;
  }
}
.ant-tabs-ink-bar {
  height: 5px !important;
  background-color: $color_button_yellow_1;
}
